<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState mode="InProc" cookieless="UseUri"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Startseite.aspx"
           protection="All"
           timeout="30"
           requireSSL="false"
           slidingExpiration="true"
           defaultUrl="default.aspx"
           cookieless="UseUri"
           enableCrossAppRedirects="false"/>
    </authentication>
    <roleManager defaultProvider="HodorRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear/>
        <add name="HodorRoleProvider" type="HODOR.src.Globals.HodorRoleProvider" applicationName="H.O.D.O.R." writeExceptionsToEventLog="false"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages masterPageFile="~/HODOR.Master" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        Connection details for the SMTP relay server used to send mails by the application.
        Note: Sensitive data! No committs should include the data provided by 3rd parties (Daniel, Herr Wolf). Our repository is publicly available!
    -->
  <system.net>
    <mailSettings>
      <smtp from="noreply@HODOR-releaseinformation.com">
        <network host="smtp.url" port="25" enableSsl="false" userName="usernameToRelayServer" password="passwordOfRelayServerUser"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <connectionStrings>
    <!--DB-Server Schule-->
    <!--
    <add name="HODOR_entities" connectionString="metadata=res://*/HODOR_Model.csdl|res://*/HODOR_Model.ssdl|res://*/HODOR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HHBNT8\SQLEXPRESS;Initial Catalog=ia211;User ID=sa;Password=supergeheimX1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
   
    <add name="ia211ConnectionString" connectionString="Data Source=HHBNT8\SQLEXPRESS;Initial Catalog=ia211;Persist Security Info=True;User ID=sa;Password=supergeheimX1" providerName="System.Data.SqlClient" />
   -->  
    <!--DB-Server Aaron-->
    <!--   
    <add  name="HODOR_entities" connectionString="metadata=res://*/HODOR_Model.csdl|res://*/HODOR_Model.ssdl|res://*/HODOR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=HODOR;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
-->
    <!--DB-Server David
      
    <add name="HODOR_entities" connectionString="metadata=res://*/HODOR_Model.csdl|res://*/HODOR_Model.ssdl|res://*/HODOR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=HODOR;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      -->
 <!--  
    DB-Server David
     
    <add name="HODOR_entities" connectionString="metadata=res://*/HODOR_Model.csdl|res://*/HODOR_Model.ssdl|res://*/HODOR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=FI20;Initial Catalog=HODOR;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
 -->
    <!--DB-Server Timo-->
    <!--   -->
    <add name="HODOR_entities" connectionString="metadata=res://*/HODOR_Model.csdl|res://*/HODOR_Model.ssdl|res://*/HODOR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=HODOR;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
</configuration>